@import 'variables';
.icon-send {
    color: $primary;
    ion-icon {
        font-size: 2.2rem;
        margin-left: 32px;
        color: $grey;
        position: relative;
        top: -4px;
    }
}