@import 'variables';
.container-wrap__login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to left bottom, #128e75, #4e9a75, #74a679, #94b282, #b2bd8e, #b6c091, #bbc395, #bfc698, #acc192, #98bb8e, #82b68d, #6ab08e);
}

.form-container__login {
    width: 1000px;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.content-left,
.content-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-left {
    width: 40%;
    background-color: $primary;
    border-top-left-radius: $br5;
    border-bottom-left-radius: $br5;
}

.content-right {
    width: 60%;
    background-color: white;
    border-top-right-radius: $br5;
    border-bottom-right-radius: $br5;
}

.panel-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.panel-content h1 {
    font-size: 3.2rem;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.panel-content p {
    font-size: 1.6rem;
    color: white;
    margin: 0;
}

.panel-content img {
    width: 70%;
    position: relative;
    top: -56px;
    left: 12px;
}

.form-action-login .title {
    font-family: 'Paytone One', sans-serif;
    width: 360px;
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 42px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    /* chữ gradient */
    font-weight: bold;
    background-image: linear-gradient(to right bottom, $primary, #76e4af);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.input-field {
    position: relative;
}

.input-field ion-icon {
    position: absolute;
    left: 5px;
    bottom: 20px;
    font-size: 1.8rem;
    padding: 0px 8px;
}

.input-field input {
    font-size: 1.7rem;
    width: 100%;
    padding: 8px 15px 6px 36px;
    margin: 8px 0;
    border: 1px solid $border;
    border-radius: $br5;
    outline: none;
    // nháy chuột trong input
    caret-color: $primary;
}

.form-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        font-size: 1.5rem;
        cursor: pointer;
    }
    input {
        margin-right: 2px;
        zoom: 1.2;
        cursor: pointer;
        position: relative;
        top: 2px;
    }
}

.text {
    color: #eb1d1d;
    font-size: 1.4rem;
    text-shadow: 0px 0px 1px #dd090991;
}

.text-forget {
    color: rgb(36, 36, 36);
    font-size: 1.5rem;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        color: $primary;
    }
}

.btn-login {
    width: 100%;
    height: 42px;
    font-weight: 700;
    margin-top: 22px;
    color: $white;
    background-color: $primary;
    &:hover {
        color: $white;
        background-color: $dark-primary;
    }
}

// Amimation button pass
.btn-pass {
    position: relative;
    display: inline-flex;
    width: 240px;
    height: 55px;
    margin: -32px 15px;
    perspective: 1000px;
}

.btn-pass a {
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

.btn-pass a:after {
    position: absolute;
    content: 'Chưa có tài khoản ?';
    height: 40px;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btn-pass a:before {
    position: absolute;
    content: 'Đăng Ký';
    height: 40px;
    width: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btn-pass a:after {
    background-color: $dark-primary;
    color: white;
    transform: rotateY(0deg) translateZ(20px);
    border: 3px solid white;
    border: none;
    background-color: transparent;
}

.btn-pass a:before {
    color: $dark-primary;
    background-color: white;
    transform: rotateX(90deg) translateZ(20px);
    border: none;
    background-color: transparent;
}

.btn-pass a:hover {
    transform: translateZ(-20px) rotateX(-90deg);
}