<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='tranfer'>
        <div class='tranfer-left'>
            <img
                src='https://static.wixstatic.com/media/9d8ed5_0f9b1175f94f4ce4a6789d63a1540044~mv2.png/v1/fill/w_1182,h_1182,al_c/9d8ed5_0f9b1175f94f4ce4a6789d63a1540044~mv2.png'
                alt=''
            />
        </div>
        <div class='tranfer-right'>
            <div class='tranfer-header'>Nạp tiền bằng thẻ cào <span class='id-account' hidden>{{token}}</span></div>

            <div class='container-content'>
                <div class='mobile-verify go-right active-box'>
                    <div class='tranfer-item'>
                        <div class='tranfer-title'>Nhà mạng :</div>
                        <select id='type-supplier' name='type-supplier' class='tranfer-input' required>
                            <option value=''>-- Chọn nhà mạng --</option>
                            <option name='viettel'>Viettel</option>
                            <option name='mobifone'>Mobifone</option>
                            <option name='vinafone'>Vinafone</option>
                        </select>
                    </div>
                    <div class='tranfer-item'>
                        <div class='tranfer-title'>Nhập mã thẻ cào :</div>
                        <input type='text' class='tranfer-input' name='value-code' id='value-code' required />
                    </div>
                    <div class='tranfer-button'>
                        <span></span>
                        <button class='btn btn-confirm' onclick='handleAddMoney()'>
                            Nạp ngay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Nạp tiền bằng thẻ
function handleAddMoney() {
    let valueCode = document.querySelector('#value-code').value
    let apiKeyXata = 'xau_NFju5b34TYFnTVeex0PP51gJ1xGDoFmG0'

    // lấy toàn bộ danh sách thẻ Card trong DB
    $.ajax({
        url: 'https://6151_v-kh-i-s-workspace-uh7b6d.us-east-1.xata.sh/db/HDBank:main/tables/cards/query',
        headers: {
            Authorization: 'Bearer' + ' ' + apiKeyXata,
            'Content-Type': 'application/json',
        },
        method: 'POST',
        data: JSON.stringify({
            page: { size: 10 },
        }),
    }).then((result) => {
        const data = result.records

        // tìm thẻ có mã code thảo điều kiện sau đó in ra giá để nhà mạng chuyển khoản trở lại
        function checkState(item) {
            if (item.codeValue == valueCode && item.sold == '1' && item.state == false) return item
        }
        let newArr = data.find(checkState)
        if(newArr == undefined) {
            alert("Mã thẻ không hợp lệ hoặc đã được sử dụng !")
            window.location.href = '/addMoney'
        } else {
            // Chuyển tiền trở lại tài khoản
            let amount = newArr.price
            let idService = '004704070000178'
            let myAccount = document.querySelector('.id-account').innerHTML
            refreshToken().then((value) => {
                $.ajax({
                    url: 'https://7ucpp7lkyl.execute-api.ap-southeast-1.amazonaws.com/dev/transfer',
                    headers: {
                        accept: 'application/json',
                        'access-token': value,
                        'x-api-key': 'hutech_hackathon@123456',
                        'Content-Type': 'application/json',
                    },
                    method: 'POST',
                    data: JSON.stringify({
                        data: {
                            amount: amount,
                            description: 'Nhà mạng chuyển khoản',
                            fromAcct: idService,
                            toAcct: myAccount,
                        },
                        request: {
                            requestId: 'a7ea23df-7468-439d-9b12-26eb4a760901',
                            requestTime: '1667200102200',
                        },
                    }),
                }).then((result) => {
                    // Set true for card in database
                    $.ajax({
                        url: 'https://6151_v-kh-i-s-workspace-uh7b6d.us-east-1.xata.sh/db/HDBank:main/tables/cards/data/' + newArr.id,
                        headers: {
                            Authorization: 'Bearer' + ' ' + apiKeyXata,
                            'Content-Type': 'application/json',
                        },
                        method: 'PATCH',
                        data: JSON.stringify({ price: newArr.price, codeValue: newArr.codeValue, sold: '1', state: true }),
                    }).then((result) => {
                        alert('Tài khoản của bạn đã được cộng ' + amount + 'đ')
                        window.location.href = '/'
                    })
                })
            })
    
        }
    })
}

</script>